.mobile-container {
  margin: auto;
  /* background-color: #555; */
  height: 100px;
  max-height: fit-content;
  color: #fff;
  background-color: #000;
  width: 100%;
}

.topnav {
  overflow: hidden;
  /* position: relative; */
  z-index: 10;
}

.topnav #myLinks {
  text-align: center;
  height: 100vh;
  width: 250px;
  z-index: 200;
  background: #000;
  position: fixed;
  right: 0;
  margin-top: -115px;
  padding-top: 100px;
  display: none;

  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.topnav a {
  color: #fff;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  /* background-color: #30084e; */
  /* display: block; */
  display: flex;
  position: absolute;
  z-index: 200;
  right: 0;
  top: 0;
}

.active {
  /* background-color: #04aa6d; */
  color: white;
}
@media (max-width: 768px) {
  .topnav #myLinks {
    width: 100%;
  }
}
